src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:workday="http://www.mulesoft.org/schema/mule/workday" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd">
    <flow name="schedulerFlow" doc:id="aff4106d-d2f6-4366-940a-a380dcb1cf73">
        <scheduler doc:name="Scheduler" doc:id="58b7c776-fbee-4753-9bea-f6cc3e037efd">
            <scheduling-strategy>
                <fixed-frequency frequency="${scheduler.frequency}" startDelay="${scheduler.start.delay}" />
            </scheduling-strategy>
        </scheduler>
        <flow-ref doc:name="queryFlow" doc:id="ada07859-8839-4751-9623-68a08d31a472" name="queryFlow" />
        <flow-ref name="businessLogicFlow" doc:name="businessLogicFlow" doc:id="e16bf02c-b833-47de-afd5-2329ce1fab2b" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71" type="ANY">
                <flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3" name="errorHandlingFlow" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="queryFlow">
        <os:retrieve key="watermark" objectStore="watermarkStore" target="lastQueryTimestamp" doc:name="Retrieve lastQueryTimestamp">
            <os:default-value ><![CDATA[#[read(p('watermark.default.expression'))]]]></os:default-value>
        </os:retrieve>
        <ee:transform doc:name="Create GetWorkers Request" doc:id="aa542ab2-df69-4c11-aaef-9c39b1c891d1">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
ns ns0 urn:com.workday/bsvc

output application/xml
---
{
	ns0#Get_Workers_Request: {
		ns0#Request_Criteria: {
			ns0#Transaction_Log_Criteria_Data:[ {
				ns0#Transaction_Type_References: {
					ns0#Transaction_Type_Reference: [ { 
						ns0#ID @(ns0#"type" : "Business_Process_Type") : "Terminate Employee"
					} ]
				},
			    ns0#Transaction_Date_Range_Data: {
				    ns0#Updated_From: vars.lastQueryTimestamp,
				    ns0#Updated_Through: (now() - |PT6S|)
			    }
			}],
			ns0#Exclude_Inactive_Workers: false,
			ns0#Exclude_Employees: false,
			ns0#Exclude_Contingent_Workers: true
		},
		ns0#Response_Group: {
			ns0#Include_Personal_Information: true,
			ns0#Include_Employment_Information: true
		}
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <workday:human-resources doc:name="Get Workers from Workday Human Resource" doc:id="829d90fc-bcd0-470a-bbf9-f7ce0092338c" config-ref="Workday_Config"
            operation="Get_Workers" target="response" targetValue="#[output application/json --- payload]">
        </workday:human-resources>
		<ee:transform doc:name="Transform Workday employees to map of values for deactivation in Salesforce" doc:id="19bbda9c-34b3-4d10-946c-09d4eb940c95" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
if (vars.response.Get_Workers_Response.Response_Data != null) 
	(vars.response.Get_Workers_Response.Response_Data.*Worker map (worker) -> {
		Email: 
		    if (worker.Worker_Data.Personal_Data.Contact_Data.Email_Address_Data != null) 
		        worker.Worker_Data.Personal_Data.Contact_Data.Email_Address_Data.Email_Address 
		    else 
		        null,
		Terminated: 
		    worker.Worker_Data.Employment_Data.Worker_Status_Data.Terminated
	}) distinctBy $
else []]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Employees to sync" doc:id="65934ef1-2939-4fab-bde9-1886331527ea" message="#['employees to sync: ' ++ write(payload)]" />
		<os:store key="watermark" failOnNullValue="false" objectStore="watermarkStore" doc:name="Store lastQueryTimestamp" doc:id="d76fe635-7fc4-42e3-8914-ea903d0779f2">
            <os:value><![CDATA[#[vars.response.Get_Workers_Response.Request_Criteria.Transaction_Log_Criteria_Data.Transaction_Date_Range_Data.Updated_Through]]]></os:value>
        </os:store>
    </flow>
</mule>       
