src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    version="EE-3.7.1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

	<batch:job name="deactiviateUserBatch">
		<batch:threading-profile poolExhaustedAction="WAIT" />
		<batch:process-records>
			<batch:step name="foreachGetUserInSalesforce">
				<sfdc:query-single config-ref="Salesforce" query="SELECT Id FROM User WHERE Email = '#[payload['Email']]' and IsActive = true" doc:name="Query User in Salesforce" />

			</batch:step>
			<batch:step name="foreachDeactivateUserInSalesforce" accept-expression="payload != null">
				<expression-component doc:name="Set deactivation flag for User"><![CDATA[payload.put('IsActive', Boolean.FALSE);
]]></expression-component>
				<batch:commit size="200" doc:name="Batch Commit">
                    <logger message="Users to deactivate: #[payload]" level="INFO" doc:name="Log Users to deactivate"/>
                    <sfdc:update config-ref="Salesforce"  type="User" doc:name="Deactivate Users in Salesforce">
                        <sfdc:objects ref="#[payload]"/>

                    </sfdc:update>
				</batch:commit>
			</batch:step>
		</batch:process-records>
		<batch:on-complete>
			<json:object-to-json-transformer
				doc:name="Transform BatchJobInstance to JSON" />
			<logger level="INFO" doc:name="Log 'User deactivation process has finished'"
				message="User deactivation process has finished: #[payload]" />
		</batch:on-complete>
	</batch:job>

    <flow name="mainFlow" >
        <batch:execute name="deactiviateUserBatch" doc:name="Trigger deactiviateUserBatch"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Catch Exception and call defaultExceptionStrategy"/>
    </flow>
</mule>
